<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I am currently a Research Engineer at the 
      <a class="underline-link" href="https://newtlab.ece.uw.edu/" target="_blank">NEWT Lab</a> at the University of Washington, where I focus on developing multimodal sensing systems that integrate imaging, embedded hardware, and machine learning. I recently completed my <strong>M.S. in Electrical Engineering</strong> at the 
      <a class="underline-link" href="https://www.ece.uw.edu/" target="_blank">University of Washington</a>, where my work centered on polarimetric imaging and data-driven modeling for estimating soil moisture via visible light polarimetry.
    </p>

    <p>
      My research interests lie are sensor design, human-centered computing, and environmental technologies. I am particularly interested in building robust, scalable, and interpretable systems that operate reliably in real-world conditions. I aim to contribute to solutions that improve accessibility, sustainability, and scientific understanding through intelligent sensing.
    </p>

    <p>
      <strong>Outside the lab</strong>, I enjoy visual storytelling through sticker art that captures complex research ideas in playful, accessible ways. I’m also actively involved in engineering outreach and mobility-focused initiatives like GoBabyGo and HuskyAdapt, where I collaborate on projects that improve access to technology for children with disabilities.
    </p>
  </div>
</section>

